<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src={{dish.image}} alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
          <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa
            fa-chevron-left fa-lg"></span></button>
          <button md-button (click)="goBack()">BACK</button>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button md-button [routerLink]="['/dishdetail', next]"><span class="fa
            fa-chevron-right fa-lg"></span></button>
        </md-card-actions>
    </md-card>
  </div>
  <div [hidden]="dish">
   <md-spinner></md-spinner><h4>Loading ... Please wait</h4>
  </div>

  <div fxFlex="40">
    <md-list *ngIf="dish">
    <h3>Comments</h3>
  <md-list-item *ngFor="let comment of dish.comments" class="md-3-line">
      <p md-line> {{comment.comment}}</p>
      <p md-line>{{comment.rating}} stars</p>
      <p md-line>-- {{comment.author}} {{comment.date | date}} </p>
  </md-list-item>
  </md-list>
  <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()" *ngIf="dish">
  <p>
  <md-input-container class="half-width"
  dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
  <input mdInput formControlName="author" placeholder="Name" type="text" required>
  <md-hint>
  <span [hidden]="!(formErrors.author)">
  {{formErrors.author}}</span>
  </md-hint>
  </md-input-container>
  <p>
  <md-slider  formControlName="" thumbLabel tickInterval="1" min="1" max="5" step="1" value="5"  formControlName="rating"></md-slider>
  </p>
  <p>
  <md-input-container class="full-width">
  <textarea mdInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
  </md-input-container>
  <span [hidden]="!(formErrors.comment)">
  {{formErrors.comment}}</span>
  </p>
  <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid" >Submit</button>
</form>
  </div>



</div>
